.owl-item div{
  padding:5px;
}
.owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

h1 {
       color: gray;
       text-align: center;
       line-height: center;
}
.thick {
       font-weight:900;
}
p {
       color: gray;
  text-align: center;
       line-height: center;
}

body {
       background-color: #FFE9F6;
       background-image:url('https://c7.staticflickr.com/9/8567/29833828414_49c5704823_o.jpg');
       background-repeat:no-repeat;
       background-position:center;
       margin-right: 600px;
}

audio {
       display: none;
}

