.owl-item div{
  padding:5px;
}
.owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

h1 {
       color: gray;
       text-align: center;
       line-height: center;
}
.thick {
       font-weight:900;
}
p {
       color: gray;
  text-align: center;
       line-height: center;
}

body {
  
       cursor:url('https://raw.githubusercontent.com/hbd1019/1019/master/1476854874114..cur'),auto;
       background-color: #FFE9F6;
       background-image:url('https://c2.staticflickr.com/6/5758/29831816853_c50e726cb7_o.png');
       background-repeat:no-repeat;
       background-position:center;
       background-attachment: fixed;
       /*margin-right: 600px;*/
}

.box {
       width: 300px;
       height: 300px;
       position:absolute;
       left:50%;
       top:50%;
}

audio {
       display: none;
}

